#Ignore extencion files
*.qws
*.qsf
*.sci
*.vhd.bak
*.rpt
*.summary
*.pin
*.sof
*.done
*.pof

#ignore Folders
**/db/
**/incremental_db/
**/output_files/
**/simulation/


#Ignore file
msim_transcript
_vmake
_info
